<script src="/jwplayer/jwplayer.js"></script>
<script>jwplayer.key="UWlvNkI/VkxwgyxZbuUTRkm1Afyo6RI6MupT1g=="</script>

<div id='my-video'></div>
<script type='text/javascript'>
    jwplayer('my-video').setup({
        file: 'Location of my video file',
        width: '480',
        height: '270'
    });
</script>