.icon-48-reverscookingsingredients {
      background-image: url(../images/l_reverscookingsingredients.png);
      padding-left:60px!important;
}

.icon-48-reverscookingsingredient {
      background-image: url(../images/l_reverscookingsingredients.png);
      padding-left:60px!important;
}

